<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/mobile-header') %>
    <div class="main-container">
        <%- partial('_partial/sidebar-left') %>
        <main class="content-mid">
            <%- body %>
        </main>
        <%- partial('_partial/sidebar-right') %>
    </div>
    <script>window.__i18n_default = "<%- (theme.i18n && theme.i18n.default) || 'zh' %>";</script>
    <%- js('js/theme-toggle') %>
    <%- js('js/calendar') %>
    <%- js('js/search') %>
    <%- js('js/mobile') %>
    <%- js('js/i18n') %>
    <%- partial('_partial/math') %>
</body>
</html>