<% var first = page.posts.sort("date", "desc").eq(0); %>
<div id="screen">
    <div id="mark">
        <div class="layer" data-depth="0.4">
            <%- image_tag(theme.welcome_cover || first.cover || "/img/welcome-cover.jpg", {id: "cover", crossorigin: "anonymous", width: 1920, height: 1080}) %>
        </div>
    </div>
    <div id="vibrant">
        <svg viewbox="0 0 2880 1620" height="100%" preserveaspectratio="xMaxYMax slice">
            <polygon opacity="0.7" points="2000,1620 0,1620 0,0 600,0 "/>
        </svg>
        <div></div>
    </div>
    <div id="header">
        <div>
            <!--<a class="image-logo" href="/"></a>-->
            <a href="https://www.travellings.cn/go.html" target="_blank" title="开往">
                <img src="/img/friends/travellings.png" alt="开往" style="height: 36px; opacity: 0.95;border-radius: 12px; vertical-align: middle; margin-left: 10px;">
                <span style="margin-left: 8px; font-size: 14px; vertical-align: middle;color: chocolate;">开往：友链随机传送门</span>
            </a>
			<% if (theme.local_search.enable){ %>
			<div class="iconfont icon-search switchsearch" href="<%= url_for('/search/') %>" title="搜索"></div>
			<%}%>
            <div class="iconfont icon-menu switchmenu"></div>
        </div>
    </div>
    <% if ( first ) { %>
    <div id="post0">
        <p><%- first.date.locale("zh-cn").format("MMMM DD, YYYY") %></p>
        <h2><%- link_to(first.path, first.title || config.title, {class: "posttitle"}) %></h2>
        <p class="summary"><%- truncate(strip_html(first.content), {length: 60, omission: '...'}) %></p>
    </div>
    <% } %>
</div>
