<aside class="sidebar-left">
    <div class="avatar-box">
        <img src="<%- (typeof theme !== 'undefined' && theme.avatar) ? theme.avatar : '/img/avatar.png' %>" alt="Avatar" class="avatar">
        <h2 class="author-name"><%- config.author || 'ZeBin' %></h2>
        <p class="author-bio"><%- config.description || '保持热爱，奔赴山海。' %></p>
    </div>

    <nav class="site-nav">
        <% for (var name in theme.menu) { %>
            <a href="<%- url_for(theme.menu[name]) %>">
                <span><%- theme.menu_icons[name] !== undefined ? theme.menu_icons[name] : '📄' %></span>
                <%- name %>
            </a>
        <% } %>
    </nav>
</aside>